[Unit]
Description=catalog gRPC Service
After=network.target

[Service]
EnvironmentFile=/etc/catalog/catalog.env
ExecStart=/usr/local/bin/catalog
User=catalog
Group=catalog
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
